
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MealDeals {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}


.ChersCloset {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}

.SuperScript {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}

.SkiPatrol {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}


html {
  scroll-behavior: smooth;
}

img {
  height: 100px;
  width: 100px;
}

.projectTxt{
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 20px;
}

.projectVideo{
  margin: auto;
  padding-bottom: 50px;
}

.skillsList {
  margin: 100px;
  border: solid;
  background-color: white;
  border-color:  #f7f7f7;
  padding-bottom: 30px;
  border-width: 10px;
}

.contactBtn {
  padding: 20px;
  margin-bottom: 50px;
  background-color:  #e6f9cf;
  color: white;
}

.contactMe {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}


.aboutMe {
  background-color: white;
  margin: 100px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}

.navBar {
  background-color: #e6f9cf;
  padding-top: 150px;
  padding-bottom: 50px;
  border: solid;
  border-color:  #f7f7f7;
  border-width: 10px;
}

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQImVdJjra2W_c3BGkkAT3KK-UjbHJnT85gSgHvsLASKSMb5gs4");
  background-size: cover;
}

.myName {
  font-family: 'Julius Sans One';
  font-size: 30px;
}

.myLinks {
  font-family: 'Julius Sans One';
  font-size: 20px;
}
